header{
    background: #ffffff;
    border-color: #cccccc;
}

h1{
    color: #4aaaa5;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    position: relative;
    border: 5px;
    padding: 20px;
    width: 200px;
    background-color: #4aaaa5;
    color: #ffffff;
    border-style: solid;
}

h2{
    font-size: 20px;
    border: 3px;
    background-color: #ffffff;
    color: #4aaaa5;
    padding: 5px;
    width: 90px;
}

body{
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-color: #dddddd;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4aaaa5;
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.footer{
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #666666;
    text-color: #777777;
    text-align: center;
    border-color: #4aaaa5;
}

#contact-info{
    float: right;
    position: relative;
    padding: 5px;
}